* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root {
  --main-color: #f44336;
  --secondary-color: #fff;
  --text-color: #777;
  --box-color: #fff3f3;
  --border-radius: 10px;
}

/* styling the header*/

.section-header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(eduford_img/banner.png);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 2% 6%;
  align-items: center;
  display: relative;
}
nav img {
  width: 150px;
  position: relative;
  top: 8px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
nav ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
nav ul a {
  text-decoration: none;
  color: var(--secondary-color);
}
nav ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--main-color);
  display: block;
  margin: auto;
  transition: 0.5s;
}
nav ul li:hover::after {
  width: 100%;
}
.text-header {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--secondary-color);
}
.text-header h1 {
  font-size: 3.8rem;
}
.text-header p {
  font-size: 0.9rem;
  margin: 10px 0 40px;
  font-weight: 200;
  line-height: 1rem;
  color: var(--secondary-color);
}
.btn {
  display: inline-block;
  text-decoration: none;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 12px 34px;
  font-size: 0.9em;
  cursor: pointer;
  position: relative;
  background: transparent;
}
.btn:hover {
  border: 1px solid var(--main-color);
  background: var(--main-color);
  transition: 1s;
}
@media screen and (max-width: 768px) {
  .text-header h1 {
    font-size: 1.8rem;
  }
  nav ul li {
    display: block;
    margin-top: 3px;
  }
  nav ul {
    margin: 40px 20px;
  }
  .nav-links {
    position: absolute;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    background: var(--main-color);
    z-index: 3;
    text-align: left;
    transition: 1s;
  }

  /* --------- cancel menu --------- */

  .cancel {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-left: 30px;
  }
  .quit {
    width: 14px;
    height: 2px;
    background-color: var(--secondary-color);
    cursor: pointer;
  }
  .cancel-one {
    transform: rotate(45deg);
  }
  .cancel-two {
    position: relative;
    transform: rotate(135deg);
    top: -2px;
  }

  /* --------- burger menu --------- */
  .burger {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: flex-end;
    cursor: pointer;
    position: relative;
    margin: 10px;
  }
  .line {
    width: 20px;
    height: 2px;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
  }
}

/* styling the course section */

.course-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10%;
}
.course-container h1 {
  line-height: 3rem;
}
p {
  color: var(--text-color);
  line-height: 22px;
  padding: 10px;
  font-weight: 300;
}
.another-course-container {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.box {
  background-color: var(--box-color);
  border-radius: var(--border-radius);
  margin-bottom: 10%;
  padding: 20px 12px;
  justify-content: center;
  max-width: 450px;
  transition: 0.5s;
}
.box:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

/* styling global campus section*/

.container-global {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgs-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  margin-top: 3%;
}
.imgs-container img {
  border-radius: var(--border-radius);
}

/* styling facilities section */

.facilities-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-facilities {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 10%;
}
.photo {
  max-width: 450px;
}
.photo img {
  max-width: 450px;
  border-radius: var(--border-radius);
}
.photo h3 {
  margin-top: 10px;
}
.photo p {
  position: relative;
  right: 10px;
}
@media screen and (max-width: 510px) {
  .imgs-container img {
    width: 100%;
  }
  .photo img {
    width: 100%;
  }
}

/* styling rating section */

.section-rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.box-rate img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  padding: 10px;
}
.rating-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  margin: 4rem 0;
}
.box-rate {
  background: var(--box-color);
  border-radius: var(--border-radius);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.box-rate h3 {
  margin: 10px;
}
.user-container {
  display: flex;
  flex-direction: row;
}
.stars__container {
  margin: 0 3.5rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.stars {
  margin: 0.5rem 0.64rem;
}
@media screen and (max-width: 600px) {
  .box-rate h3 {
    left: 0;
  }
}
.box-rate ion-icon {
  color: var(--main-color);
}

/* styling contact us section */

.contactus-section {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(eduford_img/banner2.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  border-radius: var(--border-radius);
  padding: 100px 0;
}
.contactus-section h1 {
  color: var(--secondary-color);
  font-size: 3rem;
  margin-bottom: 40px;
}
@media screen and (max-width: 700px) {
  .contactus-section h1 {
    font-size: 1.5rem;
  }
  .contactus-section .btn {
    font-size: 0.8rem;
    padding: 6px 16px;
  }
}

/* styling the footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer h3 {
  margin-bottom: 30px;
}

footer p {
  line-height: 19px;
}

.social-media {
  color: var(--main-color);
  font-size: 1.2rem;
  margin: 20px 0;
  padding: 0 10px;
}
